<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fia.ues.sv.bolsatrabajo" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RG12001Activity"
            android:label="@string/title_activity_rg12001" >
        </activity>
        <activity
            android:name=".SB12002Activity"
            android:label="@string/title_activity_sb12002" >
        </activity>
        <activity
            android:name=".GradoEspecializacionActivity"
            android:label="@string/title_activity_grado_especializacion" >
        </activity>
        <activity
            android:name=".ReferenciaActivity"
            android:label="@string/title_activity_referencia" >
        </activity>
        <activity
            android:name=".FB12001Activity"
            android:label="@string/title_activity_fb12001" >
        </activity>
        <activity
            android:name=".ReferenciaEliminarActivity"
            android:label="@string/title_activity_referencia_eliminar" >
        </activity>
        <activity
            android:name=".ReferenciaConsultarActivity"
            android:label="@string/title_activity_referencia_consultar" >
        </activity>
        <activity
            android:name=".ReferenciaModificarActivity"
            android:label="@string/title_activity_referencia_modificar" >
        </activity>
        <activity
            android:name=".GradoEspecializacionInsertarActivity"
            android:label="@string/title_activity_grado_especializacion_insertar" >
        </activity>
        <activity
            android:name=".GradoEspecializacionEliminarActivity"
            android:label="@string/title_activity_grado_especializacion_eliminar" >
        </activity>
        <activity
            android:name=".GradoEspecializacionConsultarActivity"
            android:label="@string/title_activity_grado_especializacion_consultar" >
        </activity>
        <activity
            android:name=".GradoEspecializacionModificarActivity"
            android:label="@string/title_activity_grado_especializacion_modificar" >
        </activity>
        <activity
            android:name=".CargoMenuActivity"
            android:label="@string/title_activity_cargo_menu" >
        </activity>
        <activity
            android:name=".AplicacionMenuActivity"
            android:label="@string/title_activity_aplicacion_menu" >
        </activity>
        <activity
            android:name=".AplicacionInsertarActivity"
            android:label="@string/title_activity_aplicacion_insertar" >
        </activity>
        <activity
            android:name=".AplicacionActualizarActivity"
            android:label="@string/title_activity_aplicacion_actualizar" >
        </activity>
        <activity
            android:name=".AplicacionConsultarActivity"
            android:label="@string/title_activity_aplicacion_consultar" >
        </activity>
        <activity
            android:name=".AplicacionEliminarActivity"
            android:label="@string/title_activity_aplicacion_eliminar" >
        </activity>
        <activity
            android:name=".CargoInsertarActivity"
            android:label="@string/title_activity_cargo_insertar" >
        </activity>
        <activity
            android:name=".CargoActualizarActivity"
            android:label="@string/title_activity_cargo_actualizar" >
        </activity>
        <activity
            android:name=".CargoConsultarActivity"
            android:label="@string/title_activity_cargo_consultar" >
        </activity>
        <activity
            android:name=".CargoEliminarActivity"
            android:label="@string/title_activity_cargo_eliminar" >
        </activity>
    </application>

</manifest>
